html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
  max-width: 50em;
  padding-left: 1.5rem;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  display: inline;
}

p {
  font-size: 2rem;
  font-style: italic;
  margin-top: .5em;
  margin-bottom: .5em;
}
